<ion-header>
  <ion-toolbar>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
  <style type="text/css">
    body{
      background-color: #5F6A6A;
      background-image: url("../../img/diseño/descarga.jpeg");
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }
    .elemento{
      margin: 2px 0px 1px 10px;
    }
    h3{
      color: #AAB7B8;
      font-size:25px;
    }
    #form{
      background-color: #2E4053;
      width: 500px;
      text-align: center;
      height: 520px;
      margin-top: 50px;
      border-radius: 5px;

    }
    #submit{
      margin-top: 15px;
      width: 72%;
      font-size: 20px;
      color: white ;
      border-style: 0px;
      background-color: #28B463  ;
      border-width: 1px;
      height: 40px;
    }
    #linkactualizar{
      margin-top: 10px;
      margin-left: : 0px;
      width: 36%;
      font-size: 20px;
      border-style: 0px;
      background-color: #28B463  ;
      border-width: 1px;
      height: 40px;
      color: white;
    }
    #linkborrar{
      margin-top: 10px;
      margin-right: 0px;
      width: 36%;
      font-size: 20px;
      border-style: 0px;
      background-color: #28B463  ;
      border-width: 1px;
      height: 40px;
      color: white;
    }
    a{
      text-decoration: none;
      color: white;
    }
    input{
    background-color: #2E4053;
    color: grey;
    border:grey 1px solid;
    height: 25px;
    text-align: center;
    }
    


  </style>
</ion-header>

<ion-content>
     
     <br>
      Nombre: <input value="" type="text" name="nombre" class="elemento" title=""><br>
      Apellido: <input value="" type="text" name="Apellido" class="elemento" title="Nombre"><br>
      Edad: <input value="" type="number" name="Edad" class="elemento" title="Edad"><br>
      Direccion: <input value="" type="text" name="Direccion" class="elemento" title="Direccion"><br>
      

</ion-content>